body {
  background-color: #111238;
  height: 100vh;
  overflow: hidden;
}

.star {
  position: absolute;
}

.star-sm {
  height: 50px;
  width: 50px;
}

.star-md {
  height: 60px;
  width: 60px;
}

.star-lg {
  height: 80px;
  width: 80px;
}
